.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dayHeader {
  color: white;
}

.fc-daygrid-day, .fc-daygrid-day-frame, .fc-col-header-cell {
  border: none !important;
  outline: none !important;
}

.fc-daygrid-day-number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.fc-day-sun a {
  color: #ff5858;
}

.fc-day-sat a {
  color: #508fff;
}

.calendar {
  width: 370px;
  height: 800px;
  
}
