.user-info {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    margin-top: 10px;
}

.user-container{
    display: flex;
    flex-direction: row;
}

.name {
    font-size: 32px;
    font-weight: bold;
    font-family: var(--font-family-pretendard_semiBold);
}

.nick-name {
    font-size: 14px;
    font-family: var(--font-family-pretendard_regular);
    margin-left: 8px;
    margin-top: 14.5px;
}

.right-button {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
