.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    margin-top: 10px;
    width: 100%;
}

.user-container {
    display: flex;
    flex-direction: row;
}

.name {
    font-size: 32px;
    font-weight: bold;
    font-family: var(--font-family-pretendard_semiBold);
}

.nick-name {
    font-size: 14px;
    font-family: var(--font-family-pretendard_regular);
    margin-left: 8px;
    margin-top: 18px;
}

.right-button {
    display: flex;
    align-items: center;
}
